.card_cad {
    background-color: white;
    padding: 35px;
    border-radius: 3px;
    width:300px;
}
.nome, .sobren, .numero, .email, .password, .passwordC {
    background-color: #4F4F4F;
    border-radius: 30px;
    width: 270px;
    height: 47px;
    padding: 0 0.6rem;
    color: white;
    font-size: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 1rem; 
}
body{
display: flex;
align-items: center;
justify-content: center;
padding: 0;
margin: 0;
background-color: #909090;
background-image: linear-gradient(90deg, rgb(0,0,0), rgb(133, 133, 133));
}

h2 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

input[type="file"] {
    display: none;

}
.lab {
padding: 8px 10px;
height: 20px;
width: 180px;
background-color: #000000;
/* background-color: #333; */
color: #FFF;
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
text-align: center;
display: block;
margin-top: 5px;
cursor: pointer;
border-radius: 25px;
}

.enviar {
    background-color: #000000;
    height: 35px;
    width: 280px;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    text-align: center;
    

}

.enviar:hover {
    background-color: #000000;
    box-shadow: 0 0 0.1em rgb(0, 0, 0);    
 }

h5 {
    font-weight: bold;
}